/*.jumbotron {
    background-image: url(/images/adventure-02.jpg);
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    width: 1920px;
    height: 1080px;
}*/

body {
    background-image: url(/images/adventure-02.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.container, .container-fluid {
    padding-top: 90px;
}

form.main-form {
    background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));
    padding:50px 30px;
    border-radius: 20px;
}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
}

strong {
    padding: 10px;
}

#welcome-text {
    padding: 10px;
}

#title-skylimit {
    padding-top: 100px;
}

#buy-and-gift, #adventure {
    padding-top: 25px;
}

#buttons-navigation {
    margin-top: 100px;
}

.buttons-container{
    display: inline-block;
    text-align: center;
}

.image {
    width: 100px;
    height: 100px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.button-link {
    margin-left: 75px;
    display: inline-block;
    border: 2px solid white;
    border-radius: 80px;
    padding: 35px;
    transition: all .2s ease-in-out;
    text-decoration: none;
    width: 200px;
    text-align: center;
}

.text {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-transform: uppercase;

}

.button-link:hover {
    background: rgba(255, 217, 3, 0.795);
    text-decoration: none;
    border: 3px solid rgba(255, 255, 255, .85);
}

#image-title {
    height: 250px;
}

.btn {
    margin-right: 20px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#checkout-container {
    max-width: 960px;
}

.form-label, #payment{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #17a2b8;
    padding: 10px;
    margin-top: 10px;
}

#credit-card {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

#check-information {
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 5px;
}

#buy-button {
    margin-top: 7px;
    margin-left: 150px;
}

.checkout-main {
    background-color: lightblue;
}

.font-weight-bold {
    font-size: 25px;
}

#contacts-container {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 538px;
    height: 250px;
}


