<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons :: head">
</head>
<body>
<header th:replace="/fragments/commons :: navigation"></header>
<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Детайли</h2>
    <div th:object="${product}" class="products row mx-auto d-flex flex-row justify-content-center">
        <div class="productEntity card col-sm-2 col-md-3  col-lg-4 m-1 p-0">

            <div class="card-body pb-1">
                <h5 class="card-title" th:text="*{name}">Име</h5>
            </div>

            <ul class="productEntity-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text">Цена: <span th:text="*{price}">• Цена</span></div>
                    <div class="card-text">Локация: <span th:text="*{location}">• Локация</span></div>
                    <div class="card-text">Възможно ли е да се осъществи в момента: <span th:if="*{available == true}">• Да </span>
                        <span th:unless="*{available == true}">• Не</span></div>
                    <div class="card-text">Описание: <span th:text="*{description}">• Описание</span></div>
                </li>
            </ul>
            <div class="card-body">
                <div class="row">
                    <th:block sec:authorize="hasRole('ADMIN')">
                        <a class="btn btn-outline-primary" th:href="@{/products/{id}/edit(id=*{id})}">Редактирай</a>
                        <form th:action="@{/products/{id}(id=*{id})}" th:method="delete">
                            <input type="submit" class="btn btn-outline-primary" value="Изтрий"/>
                        </form>
                    </th:block>

                    <th:block sec:authorize="isAuthenticated()">
                        <a class="btn btn-outline-primary" th:href="@{/orders/{id}/checkout(id=*{id})}">Резервирай</a>
                    </th:block>

                    <a class="btn btn-info" style="font-size: 0.9rem" th:href="@{/products/{id}/json(id=*{id})}">Експорт към JSON</a>
                </div>
            </div>
        </div>
        <div class="productEntity card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <img th:src="*{imageUrl}" class="card-img-top" alt="Attraction image">
        </div>
    </div>
</div>
</body>
</html>