<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head">
</head>
<body class="bg-secondary">
<header th:replace="fragments/commons :: nav">
</header>
<main>
    <div class="jumbotron text-center">
        <h1 class="display-3">Благодарим ви за покупката!</h1>
        <p class="lead"><strong>Резервацията ви</strong> може да бъде използвана в рамките на 120 дни от датата на закупуване.</p>
        <hr>
        <p>
            Ако имате проблеми свържете се с нас на skyLimit@example.com!
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/" role="button">Върнете се на началната страница</a>
        </p>
    </div>
</main>
</body>
</html>